.CameraWrapper {
   width: 50%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: #111827;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
}

.Camera {
   width: 75vh;
   height: 75vh;
   background-color: black;
   border-radius: 10px;
}

.toggleCamera {
   width: 75vh;
   margin-top: 15px;
}
