#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

.Scan {
  position: fixed;
  width: calc(100vw - 30px);
  height: calc(100vh - 30px);
  background-color: rgb(215, 215, 215);
  top: 15px;
  left: 15px;
  border-radius: 10px;

  display: flex;
}

.Camera {
  width: 14%;
}

.Info {
  width: 86%;
  background-color: #c7c7c7;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow-y: scroll;
}

.ItemSection {
  margin-top: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
